    <div class="uk-animation-toggle" tabindex="0">
        <div class="uk-card uk-card-secondary uk-card-body uk-animation-scale-down">
            <p class="uk-text-center"></p>
            <h1>NO MORE QUEUES!</h1>
            <h3>We Respect Your TIME!</h3>
        </div>


