	<section class="uk-section">
		<div class="uk-container class=uk-flex uk-flex-center uk-flex-column uk-width-1-3">
			<ul uk-accordion="multiple: true">
				<li class="uk-open">
					<a class="uk-accordion-title" href="#">Add Customer</a>
					<div class="uk-accordion-content">
						
						<form action="/queue/add" method="POST">
							<fieldset class="uk-fieldset">
								<div class="uk-inline">
									<span class="uk-form-icon" uk-icon="icon: user"></span><input id="inputName" name="fullname"
										class="uk-input" type="text" placeholder="Enter Customer Name">
								</div>
								<div class="uk-margin">
									<div class="uk-inline">
										<span class="uk-form-icon" uk-icon="icon: mail"></span>
										<input name="email" class="uk-input" type="email" placeholder="example@example.com">
									</div>
								</div>
								<div class="uk-margin">
									<div class="uk-inline">
										<span class="uk-form-icon" uk-icon="icon: phone"></span>
										<input name="cellphone" class="uk-input" type="text" placeholder="55 1233 5678">
									</div>
								</div>


								<div class="uk-margin">
									<textarea name="comment" class="uk-textarea" rows="3" placeholder="Textarea"></textarea>
								</div>
							</fieldset>

							<button class="uk-button uk-button-primary" >Add Customer </button>
						</form>
					</div>
				</li>
			</ul>
		</div>
		
	</section>


<hr class="uk-divider-icon">
	<section>
		<div class="uk-container uk-flex uk-flex-center uk-flex-column">
			<h4>Waiting Line</h4>
			<ul class="uk-list uk-list-large uk-list-striped" id="queue">
				<li>{{{customer.name}}}</li>
			</ul>
		</div>
	</section>