<section class="uk-section">
	<div class="uk-container class=uk-flex uk-flex-center ">
		<ul uk-accordion="multiple: true">
			<li class="uk-open">
				<a class="uk-accordion-title" href="#">Add Customer</a>
				<div class="uk-accordion-content">

					<form action="/queue/add" method="POST">
						<fieldset class="uk-fieldset">
							<div class="uk-inline">
								<span class="uk-form-icon" uk-icon="icon: user"></span><input id="inputName" name="fullname"
									class="uk-input" type="text" placeholder="Enter Customer Name">
							</div>
							<div class="uk-margin">
								<div class="uk-inline">
									<span class="uk-form-icon" uk-icon="icon: mail"></span>
									<input name="email" class="uk-input" type="email" placeholder="example@example.com">
								</div>
							</div>
							<div class="uk-margin">
								<div class="uk-inline">
									<span class="uk-form-icon" uk-icon="icon: phone"></span>
									<input name="cellphone" class="uk-input" type="text" placeholder="55 1234 5678">
								</div>
							</div>


							<div class="uk-margin">
								<label for=""> Enter Comments</label>
								<textarea name="comment" class="uk-textarea" rows="3"></textarea>
							</div>
						</fieldset>

						<button class="uk-button uk-button-primary">Add Customer </button>
					</form>
				</div>
			</li>
		</ul>
	</div>

</section>

{{#if customers}}
<hr class="uk-divider-icon">
<section>
	<div class="uk-container uk-flex uk-flex-center uk-flex-column">
		<h1>Remaining Time</h1>
		

			<div class="uk-grid-small uk-child-width-auto" uk-grid uk-countdown="date: 2019-05-03T05:55:00+00:00">
				<div>
        <div class="uk-countdown-number uk-countdown-days"></div>
        <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Days</div>
    </div>
    <div class="uk-countdown-separator">:</div>
    <div>
        <div class="uk-countdown-number uk-countdown-hours"></div>
        <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Hours</div>
    </div>
    <div class="uk-countdown-separator">:</div>
    <div>
        <div class="uk-countdown-number uk-countdown-minutes"></div>
        <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Minutes</div>
    </div>
    <div class="uk-countdown-separator">:</div>
    <div>
        <div class="uk-countdown-number uk-countdown-seconds"></div>
        <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Seconds</div>
    </div>
				</div>
				
			
			</div>


			{{#each customers as |customer| }}

			
<div class="uk-inline">
    <button class="uk-button uk-button-default" type="button">{{customer.fullname}}</button>
		<div uk-dropdown="mode: click">{{customer.comment}}</div>
		<a class="uk-button uk-button-default" type="button" href="/queue/delete">Remove From L	ist</a>
		<button class="uk-button uk-button-default" type="button">Notify</button>
</div>
			{{/each}}
		
	</div>
</section>
{{else }}
<hr class="uk-divider-icon">
<section>
	<div class="uk-container uk-flex uk-flex-center uk-flex-column">
		<h4>Waiting Line</h4>
		<ul class="uk-list uk-list-large uk-list-striped" id="queue">
			<li>Empty List</li>
		</ul>
	</div>
</section>

{{/if}}